{% extends 'base.html' %}
{% block head %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@altcensored">
<meta name="twitter:creator" content="@altcensored">
<meta name="twitter:image" content="https://{{ config['MYSERVER_NAME'] }}/flags.gif?1">
<meta name="twitter:title" content="altCensored.com/language">
<meta name="twitter:description" content="Willkommen! Bienvenue! Bienvenidos! Bem-Vindo! Benvenuto! Witam! приветствие! Välkommen! ">


<meta property="og:site_name" content="{{ config['MYSERVER_NAME'] }}">
<meta property="og:url" content="https://{{ config['MYSERVER_NAME'] }}/language">
<meta property="og:title" content="Willkommen! Bienvenue! Bienvenidos! Bem-Vindo! Benvenuto! Witam! приветствие! Välkommen! ">
<meta property="og:image" content="https://{{ config['MYSERVER_NAME'] }}/flags.gif"
<meta property="og:type" content="article">

{% endblock %}
{% block content %}

{% with active_nav='category' %}
    {% include "widgets/navtabs.html" %}
{% endwith %}

<br>
<br>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-24"></div>
      <div class="pure-u-1 pure-u-md-20-24">
        <div class="pure-g">

          {% for category in categories %}
            <div class="pure-u-1-2 pure-u-md-1-6">
              <div class="h-box">

                <center>
                  <a href="{{ url_for('category.item', cat_id=category['cat_id']) }}">
                    <i class="{{ category['cat_image'] }}"  style="font-size: 64px"></i>
                    <br>
                    <b> {{ category['cat_name'] }}</b>
                    <br>
                        {{ category['cat_count']|commafy }}
                    <br>
                  </a>
                  <br>
                </center>

              </div>
            </div>
          {% endfor %}

        </div>
    
      </div>
    <div class="pure-u-1 pure-u-md-2-24"></div>
  </div>    
{#    

{% from "_helpers.html" import render_pagination %}
<br>
  <div class="pure-u-1 pure-u-md-4-4">
    <div class="h-box">
      {{ render_pagination(pagination) }}
    </div>
  </div>
#}

{% endblock %}
