<!DOCTYPE html>

{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.css') }}">
{% endblock %}

{% block content %}

    {% with active_nav='video' %}
        {% include "widgets/navtabs.html" %}
    {% endwith %}

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-24"></div>
  <div class="pure-u-1 pure-u-md-20-24">

                  <div class="pure-g">
                    <div class="pure-u-1-3">
                    </div>
                    <div class="pure-u-1-3" style="text-align:center;">
                        <a class="pure-menu-heading selected">
                        {% if data == 'data_deleted' %}
                        <span style="color: red; ">
                            <b>{{ gettext('Table Deleted') }}</b></a>
                        {% else %}
                        <b>{{ gettext('Table All') }}</b></a>
                        {% endif %}
                    </div>
                    <div class="pure-u-1-3">
                    </div>
                  </div>

<p></p>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-1">
        <div class="h-box">
          <div class="row">
            <div class="col-lg-12">
              <table id="videos" class="display compact nowrap" width="100%">
                <thead>
                  <tr>
                    <th>Extractor</th>
                    <th>Title</th>
                    <th>View</th>
                    <th>Lik</th>
                    <th>Dis</th>
                    <th>All</th>
                    <th>IAS</th>
                    <th>IAE</th>
                    <th>YTD</th>
                    <th>IASDate</th>
                    <th>AddDate</th>
                  </tr>
                </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>

{% block extra_javascripts %}
  <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
      var table = $('#videos').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{{ url_for('admin.video_data', ytc_id = ytc_id) }}",
        "columnDefs": [
            {
                "targets": [ 0 ],
                "className": 'dt-left',
                "render": function ( data, type, row ) {
                    return '<a href= "https://www.youtube.com/watch?v=' +row[0]+'">'+data+'</a>';
                }
            },
            {
                "targets": [ 1 ],
                "className": 'dt-left',
                "render": function ( data, type, row ) {
                    return data.length > 32 ?
                    '<a href= "https://archive.org/details/youtube-' +row[0]+'">'+data.substr( 0, 32 ) +'…'+'</a>' :
                        '<a href= "https://archive.org/details/youtube-' +row[0]+'">'+data+'</a>';
                }
            },
            {
                "targets": [2],
                "className": 'dt-left',
                "render": function ( data, type, row ) {
                    return '<a href= "{{ url_for('video.watch') }}' + '?v=' +row[0]+'">'+data+'</a>';
                }
            },
            {
                "targets": [ 3 ],
                "className": 'dt-left',
            },
            {
                "targets": [ 4 ],
                "className": 'dt-left',
            },
            {
                "targets": [ 5 ],
                "className": 'dt-center',
            },
            {
                "targets": [ 6 ],
                "className": 'dt-center',
            },
            {
                "targets": [ 7 ],
                "className": 'dt-center',
            },
            {
                "targets": [ 8 ],
                "className": 'dt-center',
            },
            {
                "targets": [ 9 ],
                "className": 'dt-center',
            },
            {
                "targets": [ 9 ],
                "className": 'dt-center',
            }
        ]
      });
    });
  </script>

{% endblock %}
{% endblock %}