{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block content %}

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-24"></div>
      <div class="pure-u-1 pure-u-md-20-24">
        <div class="pure-g h-box">
          <div class="pure-u-1-4"></div>
            <div class="pure-u-1 pure-u-md-1-2">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <a href="{{ url_for('video.index') }}" style="text-align:center;" class="pure-menu-heading">
                  {{ gettext('Video') }}
                  </a>
                </div>          
                <div class="pure-u-1-3">
                  <a href="{{ url_for('channel.index') }}" style="text-align:center;" class="pure-menu-heading">
                    {{ gettext('Channel') }}
                  </a>
                </div>       
                <div class="pure-u-1-3">
                  <a href="{{ url_for('category.index') }}" style="text-align:center;" class="pure-menu-heading">
                    {{ gettext('Category') }}
                  </a>
                </div>  
              </div>
            </div>
          <div class="pure-u-1-4"></div>
        </div>
      </div>
    <div class="pure-u-1 pure-u-md-2-24"></div>
  </div>
</div>
</div>
<br>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-2-24"></div>
      <div class="pure-u-1 pure-u-md-20-24">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-1">
              <div class="h-box">
              <hr>
              <br>
              <form method="post">
               <form action="{{ url_for('auth.reset_password', token=token) }}" method="post">
               <br>
               <label for="password">{{ gettext('New Password') }}:&nbsp;</label>
               <input type="password" name="password" id="password" required>
               <button type="submit" >{{ gettext('Update Pasword') }}</button>
              </form>
</div>


{% endblock %}
